<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        Login
    </h1>
    <form method="POST" action="/api/user/sign-in">

        <label for="Phoneno">Phoneno</label>
        <input type="number" id="phoneno" name="phoneno" required>
        <br>
        <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <br>



        <input type="submit" name="Login">
    </form>
    <br><br>
    <a href="/signup">signup</a>
    <a href="/logout">logout</a>


</body>

</html>