<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Signup
    </h1>
    <form method="POST" action="/api/user/sign-up">
        <label for="firstname">first Name:</label>
        <input type="text" id="fsname" name="first_name" required>
        <br>
        <br>

        <label for="lastname">last Name:</label>
        <input type="text" id="lsname" name="last_name" required>
        <br>
        <br>

        <label for="password">Passwordd</label>
        <input type="password" id="password" name="password" required>
        <br>
        <br>

        <label for="phoneno">phoneno</label>
        <input type="number" id="phoneno" name="phoneno" required>
        <br>
        <br>
        

        <input type="submit" name="sign up" >
    </form>
    <br>
    <br>
    <a href="/">Login</a>
</body>
</html>